<div class="contain-to-grid" ng-controller="NavbarCtrl">
  <nav class="top-bar website">
    <ul class="title-area">
      <li class="name">

      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="middle">
        <span class="logo"><a href="/#">EOS (SG)</a></span>
      </ul>
      <ul class="right">
        <li><a ng-href="#" ng-click="showSignup()" ng-hide="user">SIGN UP</a></li>
        <li><a ng-href="#" ng-click="showLogin()" ng-hide="user">LOGIN</a></li>

        <li><a ng-href="#" ng-click="logout()" ng-show="user">LOGOUT</a></li>
        <li><a ng-href="#/profile/{{user.id}}" ng-click="showProfile(user.id)" ng-show="user" href="">{{ user.name | uppercase }}</a></li>
        <li><a ng-href="#" ng-click="showPost()" ng-show="user">SUBMIT</a></li>
      </ul>
    </section>
  </nav>

  <nav class="top-bar mobile">
    <div class="title">
      <p class="logo"><a href="/#">EOS (SG)</a></p>
    </div>
    <div class="menu-right">
      <ul>
        <li ng-click="showProfileSubMenuMobile()" ng-hide="profileSubMenuMobile"></li>
        <li ng-click="hideProfileSubMenuMobile()" ng-show="profileSubMenuMobile"></li>
      </ul>
    </div>
    <div class="sub-menu right" ng-show="profileSubMenuMobile">
      <ul>
        <li><a ng-href="#" ng-click="showSignup()" ng-hide="user">SIGN UP</a></li>
        <li><a ng-href="#" ng-click="showLogin()" ng-hide="user">LOGIN</a></li>

        <li><a ng-href="#" ng-click="logout()" ng-show="user">LOGOUT</a></li>
        <li><a ng-href="#" ng-show="user">{{ user.name | uppercase }}</a></li>
        <li><a ng-href="#" ng-click="showPost()" ng-show="user">SUBMIT</a></li>
      </ul>
    </div>
  </nav>
</div>
