<div ng-controller="SettingsCtrl">
  <div class="overlay" ng-click="hideOverlay()" ng-show="settingsBox"></div>

  <div class="container modal signup" ng-show="settingsBox">
    <div class="close-modal">
      <i class="fa fa-close" ng-click="hideOverlay()"></i>
    </div>
    <h4>SETTINGS</h4>
    <p>Edit your details here.</p>
    <form ng-keydown="($event.keyCode===13)?signup():0">
      <div class="large-12 columns">
        <div class="input-container">
          <input required ng-model="user.name" type="text" id="fullname" placeholder="Steve Jobs">
          <label for="fullname">Full Name</label>
        </div>
        <div class="input-container">
          <input required ng-model="user.email" type="text" id="email" placeholder="stevejobs@apple.com">
          <label for="email">Email</label>
        </div>
        <div class="input-container">
          <input required ng-model="user.address1" type="text" placeholder="21 West Coast Rd" id="address1">
          <label for="address1">Address Line 1</label>
        </div>
        <div class="input-container">
          <input required ng-model="user.address2" type="text" placeholder="Block 21 #12-12" id="address2">
          <label for="address2">Address Line 2</label>
        </div>
        <div class="input-container">
          <input required ng-model="user.country" type="text" placeholder="Singapore" id="country">
          <label for="country">Country</label>
        </div>
        <div class="input-container">
          <input required ng-model="user.address3" type="text" placeholder="S120219" id="address3">
          <label for="address3">Postal Code</label>
        </div>
        <a href="#" class="button green" ng-click="saveChanges()">SAVE CHANGES</a>
        <!-- <div class="input-container">
          <input required ng-model="user.password" type="password" id="password" placeholder="MySecretPassword">
          <label for="password">Password</label>
        </div>
        <div class="input-container">
          <input required ng-model="user.passwordAgain" type="password" id="passwordAgain" placeholder="MySecretPassword">
          <label for="passwordAgain">Password Again</label>
        </div> -->
      </div>
    </form>
    <div class="large-12 columns error">
      <p>{{error}}</p>
    </div>
  </div>
</div>
